body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    --size: 32;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    background-color: lightpink;
    height: 500px;
    width: 500px;
}

.grid{
    --bgColor: #FFFFFF;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
}

#grid{
    display: grid;
    justify-content: center;
    border: 1px solid black;
}

.title{
    display: flex;
    justify-content: center;
}


#a1{
    border: 1px solid red;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}